.information-grid {
    -fx-border-radius: 10px;
    -fx-background-color: transparent;
    -fx-border-color: #E6B020;
}

.information-value {
    -fx-text-fill: #504c4d;
    -fx-font-family: Tahoma;
}

.information-label {
    -fx-font-family: Tahoma;
    -fx-text-fill: #B1C8B5 ;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}

.information-scroll {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

#storeDataVbox{
    -fx-border-color: #055952;
}

.information-holder{
    -fx-font-family: "Calibri Light";
    -fx-text-fill: #E16779;
    -fx-font-size: 20px;
}

.discount-header {
    -fx-font-family: Tahoma;
    -fx-text-fill: #7C8C7F ;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}