#welcomePane {
    -fx-background-color: #FFC324;
}

.menuButton {
    -fx-background-color: #FFC324;
    -fx-border-radius: 10px;
    -fx-border-color: #FFFFFF;
    -fx-text-fill: #FFFFFF;
    -fx-font-weight: bold;
    -fx-font-size: 15px;
    -fx-border-width: 2px;
    -fx-background-radius: 10px;
}

#progressLabel {
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 15px;
}

#progressBar {

}

.menuButton:hover {
    -fx-background-color: #FFAB28;
}

.menuButton:pressed {
    -fx-background-color: #FF8332;
}