.newOrderItemCard{
    width: 315px;
    font-family: GeosansLight !important;
}

.newOrderHeader {
    font-size: 50px;
    margin-top: 31px;
    margin-left: 10%;
    color: ghostwhite;
}

#newOrderForm {
    display: inline-flex;
    margin-left: 9%;
}

.orderFormControl {
    margin-right: 18px;
    width: 153px;
    min-width: 153px;
    font-size: 17px;
    height: auto !important;
}

.newOrderItemCard{
    padding-bottom: 13px !important;
}

.newOrderSingleItem{
    font-size: 18px !important;
}

.newOrderItemSubmit{
    font-size: 19px;
}

.newOrderItemAmount {
    margin-bottom: 10px;
    font-size: 17px !important;
}


.newOrderItemsHeader{
    font-size: 34px;
    color: ghostwhite;
    margin: 30px 0 0 8%;
}


.newOrderItemsList{
    margin-top: 328px !important;
}

.orderSummery-header {
    left: 40%;
}

.newOrderDiscountsHeader {
    font-size: 44px;
    color: ghostwhite;
    margin: 53px 0 0 0;
}

.discount-container {
    width: fit-content!important;
    position: relative!important;
}

#goToSummeryButton {
    margin-top: 40px;
}

.orderSummery-container {
    width: 95%;
    margin-left: 8%;
}

.discounts-container {
    margin-top: 25px !important;
}


.orderSummery-storesList{
    margin-top:0px !important;
}

.newOrderDiscountsList {
    position: relative !important;
    margin-top: 7px !important;
}

.minimalCartHeader{
    font-size: 44px;
    color: ghostwhite;
    margin: 53px 0 0 0;
}

.offer-label{
    color: #0d3f57;
}

#add-item-popup {
    position: unset !important;
    display: unset !important;
    cursor: unset !important;
}
