.store-cell {
    -fx-background-image: url('shop.png');
    -fx-background-size: 25px;
    -fx-background-repeat: no-repeat;
}

.customer-cell {
    -fx-background-image: url('man.png');
    -fx-background-size: 25px;
    -fx-background-repeat: no-repeat;

}

.map-index {
    -fx-text-fill: #2C8AB8;
    -fx-font-size: 8px;
    -fx-font-family: "Calibri Light";
}